/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
  margin: 0;
  padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'core_sans_d_35_regularregular';
    src: url('fonts/CoreSansD35-webfont.eot');
    src: url('fonts/CoreSansD35-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CoreSansD35-webfont.woff2') format('woff2'),
         url('fonts/CoreSansD35-webfont.woff') format('woff'),
         url('fonts/CoreSansD35-webfont.ttf') format('truetype'),
         url('fonts/CoreSansD35-webfont.svg#core_sans_d_35_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'core_sans_d_45_mediumregular';
    src: url('CoreSansD45-webfont.eot');
    src: url('CoreSansD45-webfont.eot?#iefix') format('embedded-opentype'),
         url('CoreSansD45-webfont.woff2') format('woff2'),
         url('CoreSansD45-webfont.woff') format('woff'),
         url('CoreSansD45-webfont.ttf') format('truetype'),
         url('CoreSansD45-webfont.svg#core_sans_d_45_mediumregular') format('svg');
    font-weight: bold;
    font-style: normal;

}
img {
	max-width: 100%;
}

/*--END RESET----------------------*/

/*--COLORS----------
dark grey: #3b3a36;
med grey: #A3B0AE;
light grey: #e9ece5;
dark blue: #81BBB0;
light blue: #c0dfd9;
--------------------*/
html {
  	font-family: 'core_sans_d_35_regularregular';
  	font-size: 16px;
  	color: #3b3a36;
}
a {
  	color: #A3B0AE;
  	text-decoration: none;
}
a:hover {
  	color:#81BBB0;
}
h1 {
	color:#c0dfd9;
  	font-size: 3.5rem;
}
h2 {
  	font-size: 1.25rem;
  	font-weight: bold;
  	padding:0 0 .5rem 0;
}
h3 {
  	font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: .08rem;
}
h4 {
	font-size: 2rem;
}
p {
  	font-size: 1rem;
  	padding: .5rem 0 1rem;
}
li {
	font-size: 1rem;
	padding: .4rem 0;
}

.svg-hover img:last-child{
  display: none;
}
.svg-hover:hover img:last-child{
  display: inline-block;
}
.svg-hover:hover img:first-child{
  display: none;
}

/*--HEADER--------------------*/

header {
  	position:fixed;
  	top: 0;
  	left:0;
  	right:0;
  	z-index:10;
  	height: 3.3rem;
  	background-color:#ffffff;
  	margin: 0 auto;
  	font-size: 0;
}
header a{
	color: #3b3a36;
}
.header-logo {
  	float: left;
  	width: 50%;
  	padding: .5rem 0 0 1.2rem;
  	border-right: 1px solid #dde8e5;
  	font-size: 1.5rem;
}
.header-logo img{
	width: 2.2rem;
	margin: 0 .5rem .2rem 0;
	vertical-align: bottom;
}
.header-nav a{
	font-size: 1rem;
	display: inline-block;
	padding: .8rem 1rem 0 1.5rem;
}

.burger-icon {
  	display: none;
}
.active {
	color: #A3B0AE;
}

/*--CONTENT-------------*/
.container {
	display: inline-block;
	width:100%;
	margin: 0 auto;
	padding: 3.5rem 0 0 0;
	font-size: 0;
}
.portfolio_item {
	display: inline-block;
	background-color: black;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width:50%;
	text-align: center;
}
.portfolio_item img {
    width: 100%;
    height: auto;
   	vertical-align: top;
   	padding: 0;
   	margin: 0;
    opacity: 0.6;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}
.portfolio_item img:hover {
    opacity: .9;
}
.portfolio_item h3 {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    color: #ffffff;
}
/*--END PORTFOLIO-----*/
.flex-wrap {
	width: 100%;
	display: flex;
	padding: 3.5rem 0 0 0;
	flex-wrap: wrap;
	font-size: 0;
}
.page-head {
	padding: 1rem 1.5rem 1.5rem 1.5rem;
}
.tag-line{
	padding: 1rem .2rem;
}
.bio {
	font-size: 1.25rem;
	color: #A3B0AE;
	padding: 1.5rem 1.5rem 2rem;
}
.bio-pic {
  background-image: url("imgs/teresa.jpg");
  background-size: cover;
  min-height: 400px;
  background-position: center;
}
.info-text{
  background-color: #dde8e5;
	padding: 0 1.5rem 1.5rem 1.5rem;
}
.info-text a {
  color: #88918F;
}
.info-text a:hover {
    color:#81BBB0;
}
.proj-item{
	width: 100%;
}
.info-wide{
	width: 50%;
}
.info-text h2{
	margin-top: 1.5rem;
}
.medium{
	width: 50%;
}
.small{
	width: 25%;
}
.text-block{
	padding: 1.5rem 1.5rem 1rem 1.5rem;
	width: 70%;
	max-width: 46rem;
	margin: 0 auto;
}
.text-block p{
	font-size: 1rem;
	padding: .5rem 0 1rem 0;
}
.proj-item img{
	vertical-align: top;
}
.proj-video{
	margin: 0 auto;
}
iframe{
	padding:1rem 0 0 0;
	width:100%;
}

/*--FOOTER----------------------*/
.footer-social{
	padding: 1.5rem 1.5rem 2rem 1.6rem;
	width: 50%;
	border-right: 1px solid #dde8e5;
	float: left;
}
.social img{
	width: 1.5rem;
	margin: 0 .5rem 0 0;
}
.footer-email{
	display: inline-block;
	padding: 1.5rem 0 2rem 1.5rem;
}
/*--MEDIA QUERIES--------------*/
/*@media screen and (max-width: 1024px){  
  .proj-img-top {
    padding-top: 30px;
  }
  .resume {
    padding: 0rem 1rem 2rem;
  }
  .portfolio-item img{
    width: 100%;
  }
  .project-section p,h3{
    width: 100%;
  }
}*/

@media screen and (max-width: 900px){
  .info-wide {
  	width: 100%;
  }

  iframe{
  	width:100%;
  }
}

@media screen and (max-width: 800px){
  	.portfolio_item {
    	width: 100%;
  	}
  	.text-block{
  		width: 100%;
  	}
}
@media screen and (max-width: 600px){
  	.header-logo {
      	border: none;
      	padding-right: 0; 
    }
    .header-nav {
    		padding:0;
    } 
    .header-nav a{
    		float: right;
      	padding: .8rem 1.5rem 0 .5rem;
    }
  	h1{
  		font-size: 2.5rem;
  	}
  	.footer-social{
  		border-right: none;
  		border-bottom: 1px solid #e9ece5;
  		width: 100%;
  		display: flex;
  		padding: 1.5rem 1.5rem 1.5rem 1.6rem;
  	}
  	.social img{
  		width: 2.5rem;
  		margin: 0 2rem 0 0;
  	}
  	.info-item{
  		width: 100%;
  	}
  	.medium{
  		width: 100%;
  	}
  	.small{
  		width: 50%;
  	}
  	iframe{
  		width:100%;
  	}

}
@media screen and (max-width: 512px){
	 .header-logo {
    	width: 100%;
    	font-size: 1.25rem;
  	}
  	.header-logo img{
  		width: 1.6rem;
  		margin: 0 .3rem .3rem 0;
  	}
  	.header-nav {
  		width: 100%;
  		display: flex;		
  	}
  	.header-nav a{
  		padding: .5rem .75rem 0 1.5rem;
  		clear: both;
  		color: #A3B0AE;
  	}
  	.header-nav a:hover{
  		color: #81BBB0;
  	}
  	header {
  		height: 5rem;
  	}
  	.page-head {
  		width: 100%;
  		margin: 1.5rem 0 0 0;
  		border-top: 1px solid #e9ece5;
  	}
  	.footer-social {
  		justify-content: space-between;
  	}
  	.social img{
		margin: 0;
    }
}


