/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.4;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'core_sans_d_35_regularregular';
    src: url('fonts/CoreSansD35-webfont.eot');
    src: url('fonts/CoreSansD35-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/CoreSansD35-webfont.woff2') format('woff2'),
         url('fonts/CoreSansD35-webfont.woff') format('woff'),
         url('fonts/CoreSansD35-webfont.ttf') format('truetype'),
         url('fonts/CoreSansD35-webfont.svg#core_sans_d_35_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
img {
	max-width: 100%;
}

/*--END RESET----------------------*/

html {
  	font-family: 'core_sans_d_35_regularregular';
  	font-size: 16px;
  	color: #34495E;
}
a {
  	color: #34495E;
  	text-decoration: none;
}
a:hover {
  	color:#67809F;
}
h1 {
  	font-size: 3rem;
}
h2 {
  	font-size: 1.25rem;
  	font-weight: bold;
}
h3 {
  	font-size: 1.5rem;
}
p {
  	font-size: 1rem;
  	padding: .5rem 0 1rem;
}

.svg-hover img:last-child{
  display: none;
}
.svg-hover:hover img:last-child{
  display: inline-block;
}
.svg-hover:hover img:first-child{
  display: none;
}

/*--HEADER--------------------*/

header {
  	position:fixed;
  	top: 0;
  	left:0;
  	right:0;
  	z-index:10;
  	height: 3.3rem;
  	background-color:#ffffff;
  	margin: 0 auto;
  	font-size: 0;
}
.header-logo {
  	float: left;
  	width: 50%;
  	padding: .7rem 0 0 1.2rem;
  	border-right: 1px solid #A3B6C6;
  	font-size: 1.5rem;
}
.header-logo img{
	width: 2.2rem;
	margin-right: .5rem;
	vertical-align: bottom;
}
.header-nav {
	font-size: 1rem;
}
.header-nav a{
	display: inline-block;
	padding: 1rem 1rem 0 1.5rem;
}

.burger-icon {
  	display: none;
}
.active {
	color: #67809F;
}

/*--CONTENT-------------*/
.container {
	display: inline-block;
	width:100%;
	margin: 0 auto;
	padding: 3.5rem 0 0 0;
	font-size: 0;
}
.portfolio_item {
	display: inline-block;
	background-color: black;
	margin: 0 auto;
	padding: 0;
	position: relative;
	width:50%;
	text-align: center;
}
.portfolio_item img {
    width: 100%;
    height: auto;
   	opacity: 0.3;
   	vertical-align: top;
   	padding: 0;
   	margin: 0;
}
.portfolio_item h3 {
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    color: #ffffff;
}
/*--END PORTFOLIO-----*/
.flex-wrap {
	width: 100%;
	display: flex;
	padding: 3.5rem 0 0 0;
	flex-wrap: wrap;
	font-size: 0;
}
.flex-wrap h2{
	padding: 0 0 .5rem 0;
}
.flex-wrap li{
	font-size: 1rem;
	padding: 1rem 0 0 0;
}
.flex-wrap p {
	font-size: 1rem;
	padding: .5rem 0 1rem 0;
}
.flex-wrap h3{
	padding: 0 1rem 0 0;
	font-size: 1.25rem;
	color: #67809F;
}
.proj-item{
	width: 100%;
}
.info-wide{
	width: 50%;
}
.medium{
	width: 50%;
}
.small{
	width: 25%;
}
.title-block{
	padding: 1.5rem;
}
.text-block{
	padding: 1.5rem 1.5rem 1rem 1.5rem;
	width: 70%;
	max-width: 46rem;
	margin: 0 auto;
}
.proj-item img{
	vertical-align: top;
}
.proj-video{
	margin: 0 auto;
}

/*--FOOTER----------------------*/
.footer-social{
	padding: 2rem 1.5rem 2rem 1.6rem;
	width: 50%;
	border-right: 1px solid #A3B6C6;
	float: left;
}
.social img{
	width: 1.5rem;
	margin: 0 .5rem 0 0;
}
.footer-email{
	display: inline-block;
	padding: 2rem 0 2rem 1.5rem;
}
/*--MEDIA QUERIES--------------*/
/*@media screen and (max-width: 1024px){  
  .proj-img-top {
    padding-top: 30px;
  }
  .resume {
    padding: 0rem 1rem 2rem;
  }
  .portfolio-item img{
    width: 100%;
  }
  .project-section p,h3{
    width: 100%;
  }
}*/

@media screen and (max-width: 900px){
  .info-wide {
  	width: 100%;
  }
}

@media screen and (max-width: 800px){
  	.header-logo {
    	padding-left: .5rem;
    	width: 100%;
    	border: none;
  	}
  	.header-nav {
		position: fixed;
		top: 0px;
		left: 0px;
		height: 0px;
		width: 100%;
		float: none;
		margin: 0px;
		padding: 0px;
		background-color: #d7dae3;
		text-align: center;
		overflow: hidden;
		-webkit-transition: 0.25s height linear;
		-transition: 0.25s height linear;
  	} 
  	.header-nav a{
    	padding: 1.1rem .75rem .75rem 0; 
  	}
  	.burger-icon{
  		float: right;
  		padding: 1rem;
  		margin: 0 .5rem;
  		width: 3rem;
  	}
  	.burger-icon img:first-child{
    	display: inline-block;
  	}
  	.burger-icon img:last-child{
  		display: none;
	}
	.burger-icon:hover img:last-child{
  		display: inline-block;
	}
	.burger-icon:hover img:first-child{
  		display: none;
	}
  	.portfolio_item {
    	width: 100%;
  	}
  	.text-block{
  		width: 100%;
  	}
}
@media screen and (max-width: 600px){
	h1{
		font-size: 2.5rem;
	}
	.footer-social{
		border-right: none;
		border-bottom: 1px solid #A3B6C6;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
	.social img{
		width: 2.5rem;
		margin: 0;

	}
	.info-item{
		width: 100%;
	}
	.medium{
		width: 100%;
	}
	.small{
		width: 50%;
	}

}
/*@media (max-width: 700px) {
  .project-image-small-spaced {
    padding:20px 0px 20px 0px !important;
  }
  footer {
    text-align: center;
  }
  .footer-email {
    font-size: 1.25rem;
    float: none;
    padding: 2rem 0 2rem 0;
    color: #ffffff;
    background-color: #4d5263;
  }
  .footer-icon-list {
    float: none;
    padding: 0 0 2rem 0;
    background-color: #4d5263;
  }
  .footer-icon {
    padding: 0 .75rem;
  }
  .footer-icon img {
    width: 4rem;
  }
}
@media screen and (max-width: 640px){
  #header-wrapper {
    height: 45px;
  }
  .footer-icon {
    padding: 0 .5rem;
  }
  #header-title {
    font-size: 1.25rem;
    padding: 0.7rem 0;
  }
  #header-logo {
    width: 3rem;
    padding: .45rem 0 0 .5rem;
  }
}
@media screen and (max-width:320px){
  .footer-icon img {
    width: 3rem;
  }

}
*/

